html {
  background-color: #f0f0f0; }

body {
  background-color: white;
  margin: 0 auto;
  width: 100%; }
  body #breadcrumbs, body #content, body #footer {
    background-color: white;
    clear: both;
    float: left;
    overflow: hidden;
    padding: 0;
    margin: 0; }
  body #breadcrumbs-container {
    width: 100%;
    height: 28px;
    background-color: #f0db4f;
    padding: 0;
    margin: 0;
    position: relative;
    border-bottom: 2px solid #f6f6f6; }
  body #content {
    margin: 0;
    width: 100%; }
  body #content-body {
    width: 100%;
    padding: 75px 75px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
  body #breadcrumbs {
    background: none;
    height: 28px;
    margin: 0 75px; }
    body #breadcrumbs li {
      float: left;
      list-style: none;
      margin: 0;
      padding: 0; }
      body #breadcrumbs li a {
        display: block;
        float: left;
        padding: 0 8px; }
      body #breadcrumbs li.last {
        padding: 0 8px; }
      body #breadcrumbs li.not-last:after {
        content: "»";
        float: right; }
  body #footer {
    width: 100%;
    border-top: 8px solid #f6f6f6;
    padding-top: 13px; }
  body #footer-body {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 75px; }
  body .clear {
    clear: both;
    border-width: 0;
    margin: 0;
    visibility: hidden; }

body.listing table#pages tr, body.listing table#subdirs tr, body.listing table#files tr {
  border-bottom: 1px solid #777777;
  border-top: 1px solid #777777; }
body.listing table#pages td, body.listing table#subdirs td, body.listing table#files td {
  border: none; }
  body.listing table#pages td.size, body.listing table#subdirs td.size, body.listing table#files td.size {
    background-color: #f6f6f6; }
  body.listing table#pages td.name, body.listing table#subdirs td.name, body.listing table#files td.name {
    padding: 0; }
    body.listing table#pages td.name a, body.listing table#subdirs td.name a, body.listing table#files td.name a {
      display: block;
      margin: 0;
      padding: 4px 8px; }

blockquote {
  background-color: #f6f6f6;
  padding: 13px;
  padding-bottom: 1px; }

hr {
  border-style: solid;
  border: none;
  border-top: 1px solid #777777;
  margin: 28px 0; }

dl {
  margin-left: 0; }
  dl dd {
    margin-bottom: 13px;
    margin-left: 13px; }

ul {
  margin-top: 0; }
  ul li {
    list-style: square outside; }
  ul ul {
    margin-bottom: 0; }

img.logo {
  float: right; }

pre {
  border-left: 1px solid gray;
  margin-bottom: 13px;
  margin-left: 30px;
  padding-left: 12px; }

.codehilite {
  border-left: 1px solid gray;
  margin-bottom: 13px;
  margin-left: 30px;
  padding-left: 12px; }
  .codehilite pre {
    border: none;
    margin: 0;
    padding: 0; }

.codehilitetable {
  margin-left: 0;
  padding-left: 0;
  margin-top: 2em;
  margin-bottom: 2em; }
  .codehilitetable tr td {
    border: none;
    padding: 3px 5px 0 5px; }
    .codehilitetable tr td.linenos {
      background-color: #f6f6f6;
      border-right: 1px solid gray;
      margin: 0;
      padding-right: 6px;
      text-align: right;
      width: 19px; }
      .codehilitetable tr td.linenos .linenodiv pre {
        border: none;
        margin: 0;
        padding: 0; }
    .codehilitetable tr td.code {
      margin: 0;
      padding-left: 12px; }
      .codehilitetable tr td.code .codehilite {
        border: none;
        margin: 0;
        padding: 0; }

body {
  font-family: "Georgia";
  font-size: 1.2em;
  line-height: 1.4em;
  color: #333333; }
  body #breadcrumbs {
    font-family: "'Helvetica Neue'", "Helvetica", "Arial", "Geneva", "sans-serif"; }
    body #breadcrumbs li {
      color: #333333;
      font-size: 13px;
      font-weight: bold;
      line-height: 28px; }
      body #breadcrumbs li a {
        text-decoration: none; }
      body #breadcrumbs li .list-crumb {
        font-weight: normal; }
  body #footer {
    font-family: "'Helvetica Neue'", "Helvetica", "Arial", "Geneva", "sans-serif";
    color: #bbbbbb;
    font-size: 13px;
    text-transform: lowercase; }
    body #footer a {
      color: #bbbbbb; }
  body.listing table#pages td.size, body.listing table#subdirs td.size {
    font-family: "Monaco", "Consolas", "Lucida Console", "monospace";
    text-align: right; }
  body.listing table#subdirs td.name {
    font-family: "Monaco", "Consolas", "Lucida Console", "monospace"; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.046em; }

h1 {
  margin-top: 0; }

h2, h3, h4, h5, h6 {
  margin-top: 2em; }

h1 {
  font-size: 1.3em; }

h2 {
  font-size: 1.2em; }

h3 {
  font-size: 1.15em; }

h4, h5, h6 {
  font-size: 1.1em; }

a {
  color: #1030d0;
  text-decoration: none; }
  a:hover {
    color: #081868; }
  a[href^="http:"] {
    text-decoration: underline; }

dl dt {
  font-weight: bold; }

code {
  font-family: "Monaco", "Consolas", "Lucida Console", "monospace";
  font-size: 14px; }

pre {
  font-family: "Monaco", "Consolas", "Lucida Console", "monospace";
  font-size: 12px;
  line-height: 1.45em; }
